*.rar
*.zip
*.mp4
*.ncb
*.suo
private_db.php
private.h
*web_root/images/*
*web_root/reports/*
/Arduino/humidor/Visual Micro/*
/PhoneApp/wp8.1/Humidor/obj/*
/PhoneApp/wp8.1/Humidor/bin/*
/PhoneApp/wp8.1/MyTask/obj/*
/PhoneApp/wp8.1/MyTask/bin/*